<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />

	<title th:text="${title}"></title>
	<link href="/assets/css/admin.min.css" rel="stylesheet">
</head>

<body style="background-color: #edf1f5;">
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
		data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<header class="topbar" data-navbarbg="skin5">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header" data-logobg="skin6">
					<a class="navbar-brand" href="/"> <b class="logo-icon"> <img src="/assets/images/unla.jpg"
								width="48" height="48" />
						</b>
					</a> <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
						href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
				</div>
				<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
					<ul class="navbar-nav ms-auto d-flex align-items-center">
						<li>
							<a class="profile-pic" href="#"> <img src="/assets/images/unla.jpg" alt="user-img"
									width="36" class="img-circle"><span class="text-white font-medium"
									th:text="${userName}"></span></a>
						</li>
						<li>
							<form th:action="@{/logout}" method="post" class="mx-auto">
								<button class="px-4 text-warning btn" style="background-color:transparent">
									<i class="fas fa-sign-out-alt"></i>
									<span>Cerrar Sesión</span></button>
							</form>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="left-sidebar" data-sidebarbg="skin6">
			<!-- Menu Izquierdo -->
			<div class="scroll-sidebar">
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="sidebar-item pt-2" th:each="link : ${sideBar}"><a
								class="sidebar-link waves-effect waves-dark sidebar-link"
								th:classappend="${link.id} == ${sideBarLink} ? text-primary : text-dark"
								th:href="${link.url}" aria-expanded="false">
								<div class="mx-2">
									<i th:class="${link.icon}"></i>
								</div> <span class="hide-menu" th:text="${link.text}"></span>
							</a></li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="page-wrapper">
			<div class="page-breadcrumb bg-white shadow">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h4 class="page-title" th:text="${pageName}"></h4>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<!-- CONTENIDO DEL ADMIN ACA 
                Contenido de pageName = <span th:text="${pageName}"></span>-->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<div class="d-flex justify-content-between">
								<h4 class="card.title">
								<a class="btn btn-primary my-2" th:href="@{roles/create}"><i class="fas fa-user-plus mx-1"></i> Nuevo Rol</a>
								</h4>
								<h4>
								<a class="px-4 text-warning btn" th:href="@{/admin/roles/(format=pdf)}" title =" Export PDF" target="_blanck">
								<img class="img-responsive " th:src="@{/assets/images/pdf-negro.png}">
								</a>
								</h4>	
						</div>
							<div class="table-responsive">
								<div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
								<div class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></div>
								<div class="alert alert-warning" th:if="${warning!=null}" th:text="${warning}"></div>
								<div class="alert alert-info" th:if="${info!=null}" th:text="${info}"></div>
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="border-top-0">Nombre</th>										
											<th class="border-top-0">Editar</th>
											<th class="border-top-0">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="usersrole: ${usersRole}">
											<td style="width: 77%" th:text="${usersrole.name}"></td>
											<td>
												<a class="btn btn-primary" th:href="@{roles/edit/} + ${usersrole.id}">
													<i class="fas fa-pencil-alt mx-1"></i> Editar
												</a>
											</td>
											<td>
												<a class="btn btn-danger text-light"
													th:onclick="eliminarRole([[${usersrole.id}]])">
													<i class="far fa-trash-alt mx-1"></i> Eliminar
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<nav th:replace="paginator-nav :: paginator"></nav>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/popper.js"></script>
	<script src="/assets/js/bootstrap.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
	<script src="/assets/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>

	<script src="/assets/js/waves.js"></script>
	<script src="/assets/js/sidebarmenu.js"></script>
	<script src="/assets/js/custom.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/assets/funciones.js"></script>

</body>

</html>