<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title th:text="${title}"></title>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/login.css">
</head>

<body style="background-color: #edf1f5;">
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-lg-5 fixed-top">
		<a class="navbar-brand" href="#"> <img src="/assets/images/unla.jpg" width="40" height="40" alt="">
			<span class="d-none d-sm-inline px-3" th:text="${appName}"></span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto ">
				<li class="nav-item active"></li>
			</ul>
			<!-- Guest -->
			<ul class="navbar-nav mr-2" th:if="${user == null}">			
				<li class="nav-item mx-1"><a class="btn btn-outline nav-link px-3" th:href="@{/login}"><i
							class="fas fa-sign-in-alt mx-2"></i>Ingresar al Sistema</a>
				</li>
				<!-- 
                	Links del NavBar Izquierda
            	-->
			</ul>
			<!-- Auth -->
			<ul class="navbar-nav mr-2" th:if="${user != null}">
				<li class="nav-item mx-1"><a class="btn nav-link text-dark px-3" th:href="@{/dashboard}"><i
							class="fas fa-user"></i>&nbsp;&nbsp;Bienvenido <strong
							th:text="${user.getFirstName() + ' ' + user.getLastName()}"></strong>
						(DNI <span th:text="${user.getDni()}"></span>)</a>
				</li>
				<li class="nav-item mx-1"><a class="btn btn-dark nav-link text-light px-3"
						th:href="@{/admin/dashboard}"><i class="fas fa-tachometer-alt mx-1"></i> Ir al Panel de
						Administración</a>
				</li>
				<li>
					<form th:action="@{/logout}" method="post" class="mx-auto">
						<button class="btn btn-outline nav-link px-3" style="background-color:transparent">
							<i class="fas fa-sign-out-alt"></i>
							<span>Cerrar Sesión</span></button>
					</form>
				</li>
				<!-- 
                	Links del NavBar Izquierda
            	-->
			</ul>
		</div>
	</nav>

	<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
		<div class="container mb-5">
			<div class="mt-5 pt-5">
				<div class="row mbr-justify-content-center">
					<div class="col-lg-6 mbr-col-md-10">
						<a class="text-dark text-decoration-none" href="/permisos">
							<div class="wrap">
							<div class="ico-wrap">
								<span class="mbr-iconfont fa-route fas"></span>
							</div>
							<div class="text-wrap vcenter">
								<h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Solicitar un Permiso</h2>
								<p class="mbr-fonts-style text1 mbr-text display-6">Solicitá un permiso para viajar, seleccionado 
									fechas, destino y rodado
								</p>
							</div>
						</div>
					</a>
					</div>					
				</div>

			</div>
			<div class="card login-card">
				<div class="row no-gutters">
					<div class="col-md-5">
						<img src="assets/images/unla-banner.jpg" alt="login" class="login-card-img">
					</div>
					<div class="col-md-7">
						<div class="card-body">
							<div align="center">
								<img src="assets/images/unla.jpg" width="96" height="96" alt="logo" class="logo">
							</div>
							<p class="login-card-description" align="center"></p>
							<form action="#!" class="mx-auto">
								<div>
									<a> <strong><u>Carrera: </u></strong> Licenciatura en Sistemas </a>
								</div>
								<div>
									<a> <strong><u>Materia: </u></strong> Orientación a Objetos II </a>
								</div>
								<div>
									<a> <strong><u>Equipo docente: </u></strong> </a>
								</div>
								<div>
									<a> <strong>Titular : </strong>Lic. María Alejandra Vranić</a>
								</div>
								<div>
									<a> <strong>Ayudantes : </strong>Lic. Gustavo Siciliano </a>
								</div>
								<div>
									<a> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Lic.
										Romina Mansilla</a>
								</div>
								<p class="login-card-description" align="center"></p>
								<div>
									<a> <strong><u>Grupo Nº 6 :</u></strong> Integrantes</a>
								</div>
								<div>
									<a> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Castillo,
										Ivan Luciano</a>
								</div>
								<div>
									<a> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Perez,
										Federico Bernardo</a>
								</div>
								<div>
									<a> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Sejas,
										Diego Alejandro</a>
								</div>
								<div>
									<a> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>Haron,
										Leonardo Nahuel</a>
								</div>
								<p class="login-card-description" align="center"></p>
								<a th:href="@{/login}"><input name="login" id="login" th:if="${user == null}"
										class="btn btn-block login-btn mb-4" type="button" value="Ingresar"></a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/popper.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
</body>

</html>